<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid d-flex flex-row">
        <a class="navbar-brand" href="#">Muhammad Alif Budiman</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link me-2 ps-2 fs-5" href="#home">Home</a>
            <a class="nav-link me-2 ps-2 fs-5" href="#about-link">About</a>
            <a class="nav-link me-2 ps-2 fs-5" href="#project-link">Projects</a>
            <a class="nav-link me-2 ps-2 fs-5" href="#contact-link">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <section
        class="d-flex flex-column align-items-center justify-content-center text-light mb-5"
        id="home"
      >
        <div class="container">
          <h1 class="d-inline-block">Muhammad Alif Budiman</h1>
          <h4>Full-Stack Web Development</h4>
        </div>
      </section>
      <section id="about-link">
        <div
          class="d-flex flex-column align-items-center mx-3 mb-5 pb-2"
          id="about"
        >
          <div class="container">
            <h1 class="text-center">About Me</h1>
            <h4 class="fw-light text-secondary">
              I'm Alif. A web developer, and problem solver.
            </h4>
            <p class="d-inline-block">
              Allow me to introduce myself, my name is Muhammad Alif Budiman. I
              am a student at Jakarta State University, majoring in Computer
              Science. As a web developer, I have skills in both frontend and
              backend development. I started learning programming with Python as
              the first language I studied. My interest in web development began
              with curiosity and my passion for technology. I realized that web
              development is a constantly evolving field that offers
              opportunities to design and create impactful solutions.
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary rounded-pill me-2"
                >My CV</a
              >
              <a href="#contact-link" class="btn btn-outline-info rounded-pill"
                >Contact Me</a
              >
            </div>
          </div>
        </div>
      </section>

      <section id="project-link">
        <div class="mx-3 mb-5" id="project">
          <div class="d-flex justify-content-center">
            <h1 class="d-inline-block text-center">My Projects</h1>
          </div>
          <div class="container" id="projects">
            <figure class="project effect">
              <img src="/static/img/stockdata.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>StockData</h3>
                </header>
                <p class="short-desc">Website Inventory Control</p>
                <p class="date">14/11/2021 - 27/12/2021</p>
                <p class="type">Team Project</p>
                <p class="desc">
                  An Inventory Control website to facilitate stock management
                  and ensure product availability across various marketplaces.
                </p>
                <a
                  href="https://stockdata.great-site.net/"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
            <figure class="project effect">
              <img src="/static/img/coffeeshop.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>CoffeeShop</h3>
                </header>
                <p class="short-desc">Coffee Shop Website</p>
                <p class="date">13/11/2021 - 21/12/2021</p>
                <p class="type">Self Project</p>
                <p class="desc">
                  The CoffeeShop website is your one-stop destination for a
                  delightful coffee experience.
                </p>
                <a
                  href="https://coffeeshop.free.nf/?i=1"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
            <figure class="project effect">
              <img src="/static/img/bemy.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>BeMy</h3>
                </header>
                <p class="short-desc">Virtual Friend Service</p>
                <p class="date">21/05/2022 - 31/05/2022</p>
                <p class="type">Team Project</p>
                <p class="desc">
                  Platform for individuals to find chat friends and engage in
                  virtual conversations.
                </p>
                <a
                  href="https://muhammadalifbudiman.github.io/BeMy/"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
            <figure class="project effect">
              <img src="/static/img/numble.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>Numble</h3>
                </header>
                <p class="short-desc">Number Puzzle Game</p>
                <p class="date">23/11/2022 - 26/12/2022</p>
                <p class="type">Team Project</p>
                <p class="desc">
                  Numble is an engaging and addictive web-based number puzzle
                  game that challenges players to use their mathematical skills.
                </p>
                <a
                  href="https://numble-xi.vercel.app/"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
            <figure class="project effect">
              <img src="/static/img/colorcombotap.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>Color Tap</h3>
                </header>
                <p class="short-desc">Color Matching Game</p>
                <p class="date">01/08/2023 - 11/08/2023</p>
                <p class="type">Self Project</p>
                <p class="desc">
                  This addictive web-based game is designed to test your
                  reflexes and color recognition skills in a fun and engaging
                  way.
                </p>
                <a
                  href="https://muhammadalifbudiman.github.io/ColorTap/"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
            <figure class="project effect">
              <img src="/static/img/taskmaster.png" alt="Project" />
              alt="Project">
              <figcaption>
                <header>
                  <h3>Task Master</h3>
                </header>
                <p class="short-desc">Task Management Web</p>
                <p class="date">07/07/2023 - 12/08/2023</p>
                <p class="type">Self Project</p>
                <p class="desc">
                  Task Master is a feature-rich web application that empowers
                  users to efficiently manage their daily, weekly, and monthly
                  tasks.
                </p>
                <a
                  href="https://alif.pythonanywhere.com/"
                  target="_blank"
                  class="text-decoration-none text-light"
                  >View website</a
                >
              </figcaption>
            </figure>
          </div>
        </div>
      </section>

      <section id="contact-link">
        <div id="contact" class="mx-3 mb-5 pb-2">
          <div class="header text-center">
            <h1>CONTACT ME</h1>
            <h3>Fill out the form below to learn more!</h3>
          </div>
          <div class="container">
            <form action="#" method="post" class="mt-4">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  rows="4"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer class="text-center mb-3">
      <p>&copy; 2023 Muhammad Alif Budiman. All rights reserved.</p>
      <a href="https://www.linkedin.com/in/muhammad-alif-budiman/"
        ><i class="bi bi-linkedin me-2"></i></a
      ><a href="https://github.com/MuhammadAlifBudiman"
        ><i class="bi bi-github"></i
      ></a>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
